*.txt
*.pyc
*.log
*.pth
*.png
*.jpg
*.npy
*.tfevents.*
*._*
.vscode*
.DS_Store

original/evaluation/GAO/dataset/test_old
original/evaluation/GAO/dataset/val_old
original/evaluation/GAO/results_html
original/evaluation/GAO/results

v1/evaluation/GAO/dataset/test_old
v1/evaluation/GAO/dataset/val_old
v1/evaluation/GAO/results_html
v1/evaluation/GAO/results

original/ACP/visualizations/inferred_blobs
v1/ACP/visualizations/inferred_blobs

original/evaluation/epic-roi/results
original/evaluation/epic-roi/benchmark_results
v1/evaluation/epic-roi/results
v1/evaluation/epic-roi/benchmark_results

original/ACP/logs/GUN-71
v1/original/ACP/logs/GUN-71